<div class="jumbotron">
    <h1>上码吧</h1>
    <p class="lead">营销活动中，用视觉码替代原有的二维码，扫码效果提升4倍！ “上码吧”，为您免费生成二维码.</p>
    <p><a href="/Generator" class="btn btn-primary btn-lg">上码 &raquo;</a></p>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/images/first.png" alt="first">
        </div>

        <div class="item">
            <img src="/images/second.png" alt="second">
        </div>

        <div class="item">
            <img src="/images/third.png" alt="third">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

